body{
    width: 100%;
    height: 100%;
}
.profile-card{
    width: 400px;
}
.profile-container{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
