{% extends "base.html" %}
{% load static %}
{% block link %}
<!-- <link rel="stylesheet" href="{% static 'css/module_list.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/lesson_detail.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
{% endblock %}
{% block content %}
<div class="container mt-4">

    <!-- Заголовок урока -->
  <h1 class="title is-2 scale-in-center">{{ lesson.title }}</h1>

    {% if lesson.lesson_type == 'text' %}
        <div class="card puff-in-center" style="height: 200px;">
            <div class="card-body" style="margin-top: 10px; margin-left: 10px;">
                {{ lesson.content|linebreaks }}
            </div>
        </div>

    {% elif lesson.lesson_type == 'video' %}
        <div class="card scale-in-center ">
            <div class="card-content ">
                <p id="text">{{ lesson.content }}</p>
            </div>

        </div> 
        <div class="card slide-in-blurred-top" style="height: 600px;">
            <div class="card-body">
                {% if lesson.video_url %}
                    <div>
                        <iframe style="width: 100%; height: 585px; margin-top: 8px;" src="{{ lesson.video_url }}" allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>
        </div>
                    {% if not progress.is_completed %}
                    <form method="post" class="mt-3">
                        {% csrf_token %}
                        <button type="submit" name="mark_complete" class="button is-primary is-inverted">
                            ✅ Отметить как пройденный
                        </button>
                    </form>
                {% endif %}

    {% elif lesson.lesson_type == 'task' %}
        <div class="card puff-in-center">
            <div class="card-content scale-in-center" style="height: 100px;">
                <p id="text"">{{ lesson.content }}</p>
            </div>
            {% if lesson.input_description %}
                <h6 class="mt-3">📥 Входные данные</h6>
                <p>{{ lesson.input_description }}</p>
            {% endif %}
            
            {% if lesson.output_description %}
                <h6>📤 Выходные данные</h6>
                <p>{{ lesson.output_description }}</p>
            {% endif %}
        </div>

        {% if lesson.testcases.all %}
        <h5 class="title is-5 scale-in-center">Примеры тестов</h5>
            <div class="card puff-in-center">
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Входные данные</th>
                                    <th>Ожидаемый результат</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for test in lesson.testcases.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><code>{{ test.input_data }}</code></td>
                                    <td><code>{{ test.expected_output }}</code></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <h5 class="title is-5 scale-in-center">Напишите решение</h5>
        <div class="card puff-in-center">
            <div class="card-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea name="code" id="code" rows="12" class="input" style="width: 80%; height: 100px;">{{ user_code }}</textarea>
                    </div>
                    <button type="submit" class="button is-primary is-outlined" style="margin:20px;"">
                        ▶ Проверить решение
                    </button>
                </form>
            </div>
        </div>

        {% if result %}
            <h5 class="title is-5">
                {% if result == 'success' %}
                    Все тесты пройдены!
                {% elif result == 'fail' %}
                    Тесты не пройдены
                {% else %}
                    Результат проверки
                {% endif %}
            </h5>
            <div class="card">
                <div class="card-content">

                    {% if feedback %}
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Тест</th>
                                        <th>Ожидалось</th>
                                        <th>Получено</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in feedback %}
                                    <tr class="{% if f.passed %}table-success{% else %}table-danger{% endif %}">
                                        <td>{{ forloop.counter }}</td>
                                        <td><code>{{ f.input }}</code></td>
                                        <td><code>{{ f.expected }}</code></td>
                                        <td><code>{{ f.output|default:"—" }}</code></td>
                                        <td>{% if f.passed %}<p class="button is-primary is-inverted">+</p>{% else %}<p class="button is-danger is-inverted">-</p>{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {# ------------------- Навигация ------------------- #}
    <div class="d-fle4x justify-content-between mt-" style="margin-bottom: 50px;">

        <a href="{% url 'students:course_detail' course.slug %}" class="button is-primary is-inverted roll-in-blurred-left">
            ← Назад к курсу
        </a>
        
        {% if next_lesson and progress.is_completed %}
            <a href="{% url 'students:lesson_detail' next_lesson.id %}" class="button is-info is-inverted roll-in-blurred-left" style="margin-left: 20px;">
                Следующий урок →
            </a>
        {% endif %}
    </div>

    <div class="mt-3 text-center">
        {% if progress.is_completed %}
        <article class="message is-primary puff-in-center" style="margin-bottom: 40px;">
            <div class="message-header">
                <p>Поздравляем урок пройден</p>
            </div>
            <div class="message-body">
                Поздравляю с успешным изучением урока! 🎉
                Ты сделалважный шаг вперёд, получил новые знания и приблизился к своей цели. 
                Пусть этот результат станет хорошей мотивацией двигаться дальше, 
                не останавливаться на достигнутом и уверенно применять всё изученное на практике. 
                Отличная работа — так держать!
            </div>
        </article>
        {% else %}
            <article class="message is-info">
            <div class="message-header">
                <p>Статус</p>
            </div>
            <div class="message-body">
                Ты в процессе выполнения
            </div>
            </article>
        {% endif %}
    </div>
</div>

<style>

</style>
{% endblock %}