{% extends "adminpanel/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/edit_course.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
{% endblock %}
<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a href="{% url 'adminpanel:edit_course' course.id %}"> Редактировать</a></li>
    <li><a href="{% url 'adminpanel:add_module' course.id %}">Добавить модуль</a></li>
    <li><a href="{% url 'adminpanel:course_modules' course.id %}">Посмотреть модули</a></li>
  </ul>
</div>  
<h2 class="title is-2 scale-in-center" id="text">Редактировать курс</h2>

<div class="container2 scale-in-center" style="width: 400px; margin-left: 20px;">
  <form method="post">
      {% csrf_token %}
          {% for field in form %}
              {% if field.name == "description"%}
                  {{ field|add_class:"input" }}
              {% else %}
                  {{ field|add_class:"input is-rounded" }}
              {% endif %}
          {% endfor %}
      <button class="button is-info is-inverted" id="accept" type="submit">Сохранить изменения</button>
      <a class="button is-danger is-inverted" id="cancel" href="{% url 'adminpanel:course_list' %}">Отмена</a>
      <a class="button is-danger is-inverted" id="delete" href="{% url 'adminpanel:delete_course' course.id%}" onclick="return confirm('Вы уверены, что хотите удалить курс?');">Удалить</a>
  </form>
</div>
{% endblock %}
